$large: 1200px;
$medium: 992px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-left: 2rem;
  // .blurred_line {
  //   position: absolute;
  //   background-color: #242424;
  //   background-color: hotpink;
  //   top: 0;
  //   right: -20px;
  //   bottom: 0;
  //   width: 50px;
  //   height: 100%;
  //   filter: blur(15px);
  //   z-index: 10;
  // }
}

a {
  text-decoration: none;
  color: inherit;
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}

header {
  padding: 2rem;
  background-color: #242424;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      gap: 1rem;
      li {
        list-style: none;
        .menu-item,
        .wishlist {
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          transition: 0.175s ease-out;
          font-weight: 600;
          letter-spacing: 0.05rem;
          cursor: pointer;

          &:hover:not(.wishlist) {
            background-color: #cecece;
            color: #242424;
          }
          &:hover:not(.menu-item) svg {
            fill: gold;
          }
        }
      }
    }
  }
}

// Embla Carousel/Slider styles
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  max-width: 203px;
  margin-right: 2rem;
}

@media (min-width: $large) {
  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
    max-width: 250px;
    margin-right: 2rem;
  }
  .title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }
}

.embla__viewport {
  overflow: hidden;
  position: relative;

  .embla__prev {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .embla__next {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }
}

.genre_title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 1rem;
  button {
    padding: 0.45rem 1rem;
  }
}

.genre_slider_wrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.title_wrapper {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  div {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    button {
      padding: 0.45rem 1rem;
    }
  }
}

.movie-details {
  position: relative;

  .fav-btn__icon {
    fill: white;
    cursor: pointer;
  }
  .fav-btn__icon--active {
    fill: gold;
    cursor: pointer;
  }

  .movie-details__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -2;
    opacity: 0.6;
    filter: blur(5px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #242424);
      pointer-events: none;
    }
  }
  .movie-details__content {
    padding: 1.5rem;
    .movie-details__poster {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .movie-details__header {
      margin-bottom: 1rem;
      .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .release-year {
        opacity: 0.8;
      }
      .genre {
        // margin-top: 0.8rem;
        opacity: 0.9;
        display: flex;
      }
    }

    .movie-details__info {
      .movie-details__info--desc {
        margin-bottom: 2rem;
      }
      .movie-details__info--cast {
        margin-bottom: 1rem;
        display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;
        .cast-wrapper {
          .cast-type {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.wishlist-box {
  color: #cecece;
  position: fixed;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  top: 100px;
  right: -250px; /* Position the box offscreen initially */
  width: 250px;
  height: 100%;
  background-color: #242424;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }

  &.open {
    transform: translateX(-250px); /* Animate the box into view */
  }

  .wishlist-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    svg {
      fill: #cecece;
      cursor: pointer;
      transition: 0.175s ease-out;
      &:hover {
        fill: red;
      }
    }
  }
}
